<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
    <link href="{% static 'css/typography.css' %}" rel="stylesheet" />
    <script defer src="{% static 'js/script.js'%} "></script>
    <script defer src="{% static 'js/sign-up.js'%} "></script>
  </head>
  <body class="bg-login !bg-cover !bg-no-repeat !bg-center">
    <!-- Side Panel for tablets and mobiles start -->
    <div
      class="bg-green-600 h-lvh w-1/2 fixed right-0 top-0 z-50 rounded-lg transform translate-x-full transition-transform duration-300 ease-in-out shadow-lg"
      id="side-panel"
    >
      <div class="float-right text-6xl mx-3 cursor-pointer" id="closeButton">
        <svg
          class="h-10 w-10 text-white my-5"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" />
          <line x1="18" y1="6" x2="6" y2="18" />
          <line x1="6" y1="6" x2="18" y2="18" />
        </svg>
      </div>
      <ul class="my-16 poppins text-white">
        <a href="/"><li class="py-3 mx-5 text-lg font-semibold">Home</li></a>
        <a href="{% url 'index' %}#services-id"
          ><li class="py-3 mx-5 text-lg font-semibold">Services</li></a
        >
        <a href="{% url 'index' %}#about-us-id"
          ><li class="py-3 mx-5 text-lg font-semibold">About Us</li></a
        >
        <a href="{% url 'index' %}#contacts-id"
          ><li class="py-3 mx-5 text-lg font-semibold">Contact Us</li></a
        >
        <a href="{% url 'appointment' %}"
          ><li class="py-3 mx-5 text-lg font-semibold">Appointments</li></a
        >
      </ul>
    </div>
    <!-- Side Panel for tablets and mobiles end -->

    <!-- Navigation Bar Start -->
    <nav
      class="navbar-links bg-white flex w-full h-16 fixed z-40 shadow-md justify-between"
    >
      <div class="flex my-auto">
        <div class="h-16 ml-5 flex text-nowrap">
          <img
            src="{% static 'images/new_logo.jpg' %}"
            alt=""
            class="h-full cursor-pointer mr-3"
          />
          <h1
            class="text-4xl font-semibold mr-10 my-auto text-green-500 poppins animate-letters"
          >
            <span>A</span><span>N</span><span>D</span><span>I</span
            ><span>T</span><span>O</span><span>&nbsp;</span><span>A</span
            ><span>K</span><span>O</span>
          </h1>
        </div>
      </div>
      <div class="my-auto">
        <ul
          class="mylinks xs:max-lg:hidden poppins uppercase flex  text-nowrap"
        >
          <a
            href="/"
            class="my-auto mx-2 py-2 px-7 hover:text-white rounded-full transition duration-150 ease-in hover:bg-green-500"
          >
            <li>Home</li></a
          >
          <a
            href="{% url 'index' %}#services-id"
            class="my-auto mx-2 py-2 px-7 rounded-full transition duration-150 ease-in hover:bg-green-500 hover:text-white"
          >
            <li>Services</li>
          </a>
          <a
            href="{% url 'index' %}#about-us-id"
            class="my-auto mx-2 py-2 px-7 rounded-full transition duration-150 ease-in hover:bg-green-500 hover:text-white text-nowrap"
          >
            <li>About Us</li>
          </a>
          <a
            href="{% url 'index' %}#contacts-id"
            class="my-auto mx-2 py-2 px-7 rounded-full transition duration-150 ease-in hover:bg-green-500 hover:text-white"
          >
            <li>Contacts</li>
          </a>
          <a
            href="{% url 'appointment' %}"
            class="my-auto mx-2 py-2 px-7 rounded-full transition duration-150 ease-in hover:bg-green-500 hover:text-white"
          >
            <li>Appointments</li>
          </a>
          <a href="/" class="h-16 ml-10 mr-5 my-auto cursor-pointer">
            <img
              src="{% static 'images/SLSU_Logo.png' %}"
              alt=""
              class="h-full"
            />
          </a>
        </ul>
      </div>
      <div class="mx-5 lg:hidden my-auto" id="menu">
        <svg
          class="h-10 w-10 text-emerald-400"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <line x1="3" y1="12" x2="21" y2="12" />
          <line x1="3" y1="6" x2="21" y2="6" />
          <line x1="3" y1="18" x2="21" y2="18" />
        </svg>
      </div>
    </nav>
    <!-- Navigation Bar End -->
    <section class="min-h-screen flex items-center justify-center pt-20">
      <div
        class="login-wrapper p-10 mx-auto w-3/5 bg-white rounded-xl border border-black xs:max-sm:w-4/5"
      >
        <h1 class="text-center font-bold text-4xl mb-5">Sign Up</h1>
        <form method="post" action="{% url 'users:signUp' %}">
          {% csrf_token %}
          <div class="gap-4 text-black">
            <!-- Other Form Fields -->
            <div class="flex gap-4 xs:max-lg:flex-col xs:max-lg:gap-0">
              <div class="w-full">
                <label for="first_name" class="">First Name</label>
                <input
                  required
                  type="text"
                  name="first_name"
                  id="first_name"
                  class="w-full rounded border-black bg-transparent border focus:ring-1 focus:ring-green-500 focus:border-green-500"
                  value="{{ form.first_name.value|default:'' }}"
                />
                {% if form.first_name.errors %}
                <div class="text-red-500">{{ form.first_name.errors }}</div>
                {% endif %}
              </div>
              <div class="w-full">
                <label for="last_name" class="">Last Name</label>
                <input
                  required
                  type="text"
                  name="last_name"
                  id="last_name"
                  class="w-full rounded border-black bg-transparent border focus:ring-1 focus:ring-green-500 focus:border-green-500"
                  value="{{ form.last_name.value|default:'' }}"
                />
                {% if form.last_name.errors %}
                <div class="text-red-500">{{ form.last_name.errors }}</div>
                {% endif %}
              </div>
            </div>
            <div class="flex gap-4 xs:max-lg:flex-col xs:max-lg:gap-0">
              <div class="w-full">
                <label for="username" class="">Username</label>
                <input
                  required
                  type="text"
                  name="username"
                  id="username"
                  class="w-full rounded border-black bg-transparent border focus:ring-1 focus:ring-green-500 focus:border-green-500"
                  value="{{ form.username.value|default:'' }}"
                />
                {% if form.username.errors %}
                <div class="text-red-500">{{ form.username.errors }}</div>
                {% endif %}
              </div>
              <div class="w-full">
                <label for="email" class="">Email (Institutional Email)</label>
                <input
                  required
                  type="email"
                  name="email"
                  id="email"
                  class="w-full rounded border-black bg-transparent border focus:ring-1 focus:ring-green-500 focus:border-green-500"
                  value="{{ form.email.value|default:'' }}"
                />
                {% if form.email.errors %}
                <div class="text-red-500">{{ form.email.errors }}</div>
                {% endif %}
              </div>
            </div>

            <div class="flex gap-4 xs:max-lg:flex-col xs:max-lg:gap-0">
              <div class="w-full">
                <label for="password" class="">Password</label>
                <input
                  required
                  type="password"
                  name="password"
                  id="password"
                  class="w-full rounded border-black bg-transparent border focus:ring-1 focus:ring-green-500 focus:border-green-500"
                  value="{{ form.password.value|default:'' }}"
                />
                {% if form.password.errors %}
                <div class="text-red-500">{{ form.password.errors }}</div>
                {% endif %}
              </div>
              <div class="w-full">
                <label for="password_confirm" class="">Confirm Password</label>
                <input
                  required
                  type="password"
                  name="password_confirm"
                  id="password_confirm"
                  class="w-full rounded border-black bg-transparent border focus:ring-1 focus:ring-green-500 focus:border-green-500"
                  value="{{ form.password_confirm.value|default:'' }}"
                />
                {% if form.password_confirm.errors %}
                <div class="text-red-500">
                  {{ form.password_confirm.errors }}
                </div>
                {% endif %}
              </div>
            </div>

            <div class="flex gap-4 xs:max-lg:flex-col xs:max-lg:gap-0">
              <div class="w-full">
                <label for="year_of_study">Year of Study</label>
              <select
                required
                name="year_of_study"
                id="year_of_study"
                class="w-full rounded border-black bg-transparent border focus:ring-1 focus:ring-green-500 focus:border-green-500"
              >
                <option value="1st_year" {% if form.year_of_study.value == "1st_year" %}selected{% endif %}>First Year</option>
                <option value="2nd_year" {% if form.year_of_study.value == "2nd_year" %}selected{% endif %}>Second Year</option>
                <option value="3rd_year" {% if form.year_of_study.value == "3rd_year" %}selected{% endif %}>Third Year</option>
                <option value="4th_year" {% if form.year_of_study.value == "4th_year" %}selected{% endif %}>Fourth Year</option>
              </select>
                
                {% if form.year_of_study.errors %}
                <div class="text-red-500">{{ form.year_of_study.errors }}</div>
                {% endif %}
              </div>
              <div class="w-full">
                <label for="student_id" class="">Student ID Number</label>
                <input
                  required
                  type="text"
                  name="student_id"
                  id="student_id"
                  class="w-full rounded border-black bg-transparent border focus:ring-1 focus:ring-green-500 focus:border-green-500"
                  value="{{ form.student_id.value|default:'' }}"
                />
                {% if form.student_id.errors %}
                <div class="text-red-500">{{ form.student_id.errors }}</div>
                {% endif %}
              </div>
            </div>
            <!-- Department and Course/Program Field -->
            <div class="flex gap-4 xs:max-lg:flex-col xs:max-lg:gap-0">
              <div class="w-full">
                <label for="department">Department</label>
                <select
                  required
                  name="department"
                  id="department"
                  class="w-full rounded border-black bg-transparent border focus:ring-1 focus:ring-green-500 focus:border-green-500"
                  value="{{ form.department.value|default:'' }}"
                >
                  <option value="">Select Department</option>
                  <option value="cit">College of Industrial Technology</option>
                  <option value="cen">College of Engineering</option>
                  <option value="cas">College of Arts and Sciences</option>
                  <option value="cabha">
                    College of Administration, Business, Hospitality and
                    Accountancy
                  </option>
                  <option value="cte">College of Teacher Education</option>
                  <option value="cag">College of Agriculture</option>
                  <option value="cam">College of Allied Medicine</option>
                </select>
                {% if form.department.errors %}
                <div class="text-red-500">{{ form.department.errors }}</div>
                {% endif %}
              </div>
              <div class="w-full">
                <label for="program" class="">Program</label>
                <select
                  required
                  name="program"
                  id="program"
                  class="w-full rounded border-black bg-transparent border focus:ring-1 focus:ring-green-500 focus:border-green-500"
                  value="{{ form.program.value|default:'' }}"
                ></select>
                {% if form.program.errors %}
                <div class="text-red-500">{{ form.program.errors }}</div>
                {% endif %}
              </div>
            </div>
            <div class="flex gap-4 xs:max-lg:flex-col xs:max-lg:gap-0">
              <div class="w-full">
                <label for="contact_number" class="">Contact Number</label>

                <input
                  required
                  type="number"
                  name="contact_number"
                  id="contact_number"
                  pattern="[0-9]*"
                  class="w-full rounded border-black bg-transparent border focus:ring-1 focus:ring-green-500 focus:border-green-500"
                  value="{{ form.contact_number.value|default:'' }}"
                />
                {% if form.contact_number.errors %}
                <div class="text-red-500">{{ form.contact_number.errors }}</div>
                {% endif %}
              </div>
              <div class="w-full">
                <label for="address">Address</label>
                <input
                  required
                  type="text"
                  name="address"
                  id="address"
                  class="w-full rounded border-black bg-transparent border focus:ring-1 focus:ring-green-500 focus:border-green-500"
                  value="{{ form.address.value|default:'' }}"
                />
                {% if form.address.errors %}
                <div class="text-red-500">{{ form.address.errors }}</div>
                {% endif %}
              </div>
            </div>
          </div>

          <div class="flex justify-center">
            <button
              type="submit"
              class="mt-3 px-4 py-3 w-full rounded-full text-white bg-green-500 hover:bg-green-600"
            >
              Sign Up
            </button>
          </div>

          <div class="flex justify-between text-sm">
            <div class="mt-4">
              <input
                type="checkbox"
                name="terms-conditions"
                id="terms-conditions"
                class="mr-2 focus:ring-white"
                required
              />
              <label for="terms-conditions">
                I agree to the
                <label class="underline cursor-pointer text-blue-500 font-bold"
                  >Terms and Conditions</label
                >
              </label>
            </div>
            <div>
              <p class="mt-4 xs:max-lg:text-right">
                Registered Already?
                <a
                  href="{% url 'users:logIn' %}"
                  class="text-blue-500 font-bold"
                  >Log In</a
                >
              </p>
            </div>
          </div>
        </form>
      </div>
    </section>

    <!-- Modal Start For Terms and Conditions-->
    <div
      id="termsModal"
      class="fixed inset-0 hidden items-center justify-center z-50"
    >
      <div class="bg-black bg-opacity-80 fixed inset-0"></div>
      <div
        class="bg-white rounded-lg px-10 py-5 z-10 mx-auto w-3/5 overflow-y-auto h-4/5 xs:max-lg:w-4/5"
      >
        <h2 class="text-2xl font-bold mb-4">Terms and Conditions</h2>
        <p class="text-black mb-4 text-justify">
          Welcome to ANDITO Ako, an online platform created to enhance mental
          health issues for Southern Luzon State University (SLSU) students via
          video counseling, peer-to-peer communication, and appointment
          scheduling. Through accessing the “ANDITO Ako” platform (the
          “Service”), you are agreeing to be bound by these terms and conditions
          of use (the “Agreement”). If you do not agree with any of the
          provisions of this agreement, please do not access the service.
          <br />
          <br />
          <strong>I. The Service</strong><br />
          <br />
          <strong>Agreement:</strong> This Agreement is between you and the
          developers of the “ANDITO Ako” platform. It applies to your use of the
          Service, including access through authorized emails as a guidance
          counselor, and student.<br />
          <strong>Scope:</strong> The Service encompasses features such as
          booking appointments, interacting with Guidance Counselors and SLSU
          Peer facilitators, and staying informed of upcoming appointments
          through reminders sent via the SLSU Email. <br /><br />
          <strong>II. Using the Service</strong><br />
          <br />
          <strong>Eligibility:</strong> This platform is only available to
          enrolled students of Southern Luzon State University.<br />
          <strong>Account Registration:</strong> You must provide your full
          name, email address, and other information needed for registration.
          You agree to maintain the confidentiality of your account.<br />
          <strong>Restrictions:</strong> Users must not engage in prohibited
          conduct such as fraudulent use of the Service, and harassment.
          Misconduct may lead to suspension.<br />
          <strong>Termination:</strong> The developers may suspend or terminate
          access to the Service for violation of this Agreement or any other
          relevant policy. <br /><br />
          <strong>III. Legal Obligations</strong><br /><br />
          <strong>Privacy:</strong> ANDITO Ako values your privacy and handles
          your data according to our Privacy Policy. By using the Service, you
          consent to the collection and use of your data.<br />
          <strong>Legal Compliance:</strong> Users must comply with applicable
          laws and policies.<br />
          <strong>Disclaimers:</strong> The Service is provided “as is” without
          warranties of any kind. The developers are not liable for any damages
          arising from the use of the Service.<br />
          <strong>Limitation of Liability:</strong> The developers are not
          responsible for direct, indirect, or incidental damages resulting from
          the Service. <br /><br />
          <strong>IV. Updates to the Agreement</strong><br />
          <strong>Amendments:</strong> We may update this Agreement at any time.
          Continued use of the Service signifies acceptance of the updated
          terms.
        </p>
        <div class="flex justify-center">
          <button
            id="closeModal"
            class="w-full py-2 bg-green-500 text-white rounded hover:bg-green-600"
          >
            I accept the Terms and Conditions
          </button>
        </div>
      </div>
    </div>
    <!-- Modal End For Terms and Conditions -->
  </body>
</html>
