/* Reset styles to prevent animation interference */
.slide-in,
.slide-in-right,
.fade-backward,
.animate-fade-in {
  opacity: 0;
  transition: all 0.5s ease-out;
}

.navbar-links {
  height: 80px;
}

/* Continue nth-child as needed for each letter */

/* Hero Section */
.hero-image {
  background: url(/static/images/hero.jpg);
}

/* Scroll-triggered Animations */
.in-view.slide-in {
  animation: slideIn 1.5s ease-in-out forwards;
}

.in-view.slide-in-right {
  animation: slideInRight 1.5s ease-in-out forwards;
}

.in-view.fade-backward {
  animation: fadeBackward 1.5s ease-in-out forwards;
}

.in-view.animate-fade-in {
  animation: fadeIn 2s ease-in-out forwards;
}

.in-view.animate-bounce-in {
  animation: bounceIn 1s ease-in-out forwards;
}

/* Keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeBackward {
  0% {
    opacity: 0;
    transform: scale(1.4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* Keyframes for letter fade-in effect */
@keyframes letterFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Back to original position */
  }
}

/* Apply fade-in to each letter in ANDITO AKO */
.animate-letters span {
  opacity: 0; /* Start with hidden letters */
  display: inline-block; /* Ensure proper spacing between letters */
  animation: letterFadeIn 0.5s ease forwards; /* Animation duration and easing */
}

/* Stagger the animation for each letter using nth-child */
.animate-letters span:nth-child(1) {
  animation-delay: 0s;
}
.animate-letters span:nth-child(2) {
  animation-delay: 0.1s;
}
.animate-letters span:nth-child(3) {
  animation-delay: 0.2s;
}
.animate-letters span:nth-child(4) {
  animation-delay: 0.3s;
}
.animate-letters span:nth-child(5) {
  animation-delay: 0.4s;
}
.animate-letters span:nth-child(6) {
  animation-delay: 0.5s;
}
.animate-letters span:nth-child(7) {
  animation-delay: 0.6s;
}
.animate-letters span:nth-child(8) {
  animation-delay: 0.7s;
}
.animate-letters span:nth-child(9) {
  animation-delay: 0.8s;
}
.animate-letters span:nth-child(10) {
  animation-delay: 0.9s;
}
