<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Settings</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
    <link href="{% static 'css/typography.css' %}" rel="stylesheet" />
    <script defer src="{% static 'js/admin-settings.js'%}"></script>
  </head>
  <body class="bg-gray-100">
    <div class="flex h-full">
      <!-- Navbar Content -->
      <nav
        class="fixed top-5 bottom-5 left-0 w-64 bg-white p-4 rounded-xl mx-4"
      >
        <div class="flex my-auto">
          <div class="h-16 flex text-nowrap">
            <img
              src="/static/images/new_logo.jpg"
              alt="New Logo"
              class="h-full cursor-pointer mr-3 fade-in"
            />
            <h1
              class="text-xl font-semibold mr-10 my-auto text-green-500 poppins animate-letters"
            >
              <span>A</span><span>N</span><span>D</span><span>I</span
              ><span>T</span><span>O</span><span>&nbsp;</span><span>A</span
              ><span>K</span><span>O</span>
            </h1>
          </div>
        </div>
        <p class="text-gray-600 mt-2 text-sm">Admin Operations</p>
        <ul class="mt-2">
          <li class="mb-2 w-full group">
            <a
              href="{% url 'admin_counselor:admin_counselor' %}"
              class="flex items-center p-2 font-semibold hover:bg-green-500 rounded-md group-hover:text-white transition duration-150 ease-in-out"
            >
              <svg
                class="h-8 w-8 mr-3 text-emerald-500 group-hover:text-white"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                />
              </svg>
              Dashboard
            </a>
          </li>
          <li class="mb-2 w-full group">
            <a
              href="{% url 'admin_counselor:admin_counselors' %}"
              class="flex items-center p-2 font-semibold hover:bg-green-500 rounded-md group-hover:text-white transition duration-150 ease-in-out"
            >
              <svg
                class="h-8 w-8 mr-3 text-emerald-500 group-hover:text-white"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" />
                <circle cx="9" cy="7" r="4" />
                <path d="M23 21v-2a4 4 0 0 0-3-3.87" />
                <path d="M16 3.13a4 4 0 0 1 0 7.75" />
              </svg>
              Counselors
            </a>
          </li>
          <li class="mb-2 w-full group">
            <a
              href="{% url 'admin_counselor:admin_schedule' %}"
              class="flex items-center p-2 font-semibold hover:bg-green-500 rounded-md group-hover:text-white transition duration-150 ease-in-out"
            >
              <svg
                class="h-8 w-8 mr-3 text-emerald-500 group-hover:text-white"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <circle cx="12" cy="12" r="10" />
                <polyline points="12 6 12 12 16 14" />
              </svg>
              Schedule
            </a>
          </li>
          <li class="mb-2 w-full group">
            <a
              href="{% url 'admin_counselor:admin_appointment' %}"
              class="flex items-center p-2 font-semibold hover:bg-green-500 rounded-md group-hover:text-white transition duration-150 ease-in-out"
            >
              <svg
                class="h-8 w-8 mr-3 text-emerald-500 group-hover:text-white"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" />
                <rect x="4" y="5" width="16" height="16" rx="2" />
                <line x1="16" y1="3" x2="16" y2="7" />
                <line x1="8" y1="3" x2="8" y2="7" />
                <line x1="4" y1="11" x2="20" y2="11" />
                <rect x="8" y="15" width="2" height="2" />
              </svg>
              Appointments
            </a>
          </li>
          <li class="mb-2 w-full group">
            <a
              href="{% url 'admin_counselor:admin_settings' %}"
              class="flex items-center p-2 font-semibold bg-green-500 rounded-md text-white transition duration-150 ease-in-out"
            >
              <svg
                class="h-8 w-8 mr-3 text-white"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <circle cx="12" cy="12" r="3" />
                <path
                  d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"
                />
              </svg>
              Settings
            </a>
          </li>
        </ul>
        <p class="text-gray-600 mt-2 text-sm">Student Engagement</p>
        <ul class="mt-2">
          <li class="mb-2 w-full group">
            <a
              href="{% url 'admin_counselor:admin_requests' %}"
              class="flex items-center p-2 font-semibold hover:bg-green-500 rounded-md group-hover:text-white transition duration-150 ease-in-out"
            >
              <svg
                class="h-8 w-8 mr-3 text-emerald-500 group-hover:text-white"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" />
                <circle cx="5" cy="18" r="2" />
                <circle cx="19" cy="6" r="2" />
                <path d="M19 8v5a5 5 0 0 1 -5 5h-3l3 -3m0 6l-3 -3" />
                <path d="M5 16v-5a5 5 0 0 1 5 -5h3l-3 -3m0 6l3 -3" />
              </svg>
              Requests
            </a>
          </li>
          <li class="mb-2 w-full group">
            <a
              href="{% url 'admin_counselor:admin_students' %}"
              class="flex items-center p-2 font-semibold hover:bg-green-500 rounded-md group-hover:text-white transition duration-150 ease-in-out"
            >
              <svg
                class="h-8 w-8 mr-3 text-emerald-500 group-hover:text-white"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" />
                <circle cx="7" cy="5" r="2" />
                <path
                  d="M5 22v-5l-1-1v-4a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4l-1 1v5"
                />
                <circle cx="17" cy="5" r="2" />
                <path
                  d="M15 22v-4h-2l2 -6a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1l2 6h-2v4"
                />
              </svg>
              Students
            </a>
          </li>
          <li class="mb-2 w-full group">
            <a
              href="{% url 'admin_counselor:admin_feedbacks' %}"
              class="flex items-center p-2 font-semibold hover:bg-green-500 rounded-md group-hover:text-white transition duration-150 ease-in-out"
            >
              <svg
                class="h-8 w-8 mr-3 text-emerald-500 group-hover:text-white"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5"
                />
              </svg>
              User Feedback
            </a>
          </li>
        </ul>
        <div class="absolute bottom-3 left-0 w-full px-4">
          <button
            class="w-full bg-red-500 text-white py-2 rounded-md hover:bg-red-600"
          >
            Log Out
          </button>
        </div>
      </nav>
      <!-- Navbar End -->

      <div class="flex-grow p-4 ml-72 mr-5">
        <div class="flex justify-between">
          <div class="my-auto">
            <h1 class="font-bold text-2xl">Account Settings</h1>
          </div>
          <div class="date-logo flex mt-2">
            <div class="text-right mr-5">
              <p class="text-sm">Today's Date</p>
              <h1 class="font-bold text-xl" id="current-date"></h1>
            </div>
            <div>
              <img
                src="/static/images/SLSU_Logo.png"
                alt=""
                class="w-auto h-16"
              />
            </div>
          </div>
        </div>
        <!-- Main Content Start -->
        <div class="bg-white rounded-lg shadow-lg p-10 mt-3 w-5/5">
          <h1 class="capitalize font-semibold text-2xl mb-3">
            Edit your account details & change password
          </h1>
          <form action="">
            <div class="grid grid-cols-2 gap-4 w-full xs:max-sm:grid-cols-1">
              <div>
                <label for="fname">First Name:</label>
                <input
                  type="text"
                  name="fname"
                  id="fname"
                  class="w-full border border-black rounded-md p-2"
                />
              </div>
              <div>
                <label for="lname">Last Name:</label>
                <input
                  type="text"
                  name="lname"
                  id="lname"
                  class="w-full border border-black rounded-md p-2"
                />
              </div>
              <div>
                <label for="email">Email:</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="w-full border border-black rounded-md p-2"
                />
              </div>
              <div>
                <label for="email">Image:</label>
                <input
                  type="image"
                  name="image"
                  id="image"
                  class="w-full border border-black rounded-md p-2"
                />
              </div>
            </div>
            <div class="grid grid-cols-2 gap-4 w-full xs:max-sm:grid-cols-1">
              <div>
                <label for="password">Password:</label>
                <input
                  type="password"
                  name="password"
                  id="password"
                  class="w-full border border-black rounded-md p-2"
                />
              </div>
              <div>
                <label for="confirm-password">Confirm Password:</label>
                <input
                  type="password"
                  name="confirm-password"
                  id="confirm-password"
                  class="w-full border border-black rounded-md p-2"
                />
              </div>
            </div>

            <button
              class="px-10 py-3 my-5 rounded bg-green-500 shadow-2xl text-white hover:bg-green-600 transition duration-150 ease-in-out"
            >
              Save
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
